@use '../../../app/styles/base/variables.scss' as *;

.content {
  margin: 0 auto;
  display: none;
  @media (min-width: 1704px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-lg;
    background: $background-color;
    width: 110em;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: $spacing-md;

  @media (min-width: 1024px) {
    flex-direction: row;
    margin-bottom: 0;
    margin-right: $spacing-lg;
  }
}

.navButton {
  font-family: $font-stack;
  background: none;
  border: none;
  color: $text-color;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;



    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 11%;
      transform: translateX(0);
      width: 0;
      height: 3px;
      background-color: transparent;
      border-radius: 2px;
        
    border-radius: 2px;
    transition: width 0.3s ease, background-color 0.3s ease;
    }
  &.active::before {
    width: 40%;
    background-color: $primary-color;
  }

  &:hover::before {
    width: 40%;
    background-color: $primary-color;
  }

  &:hover {
    color: lighten($text-color, 10%);
  }

 &:hover {
    color: lighten($text-color, 10%);
  }
}

.navButton p {
  font-size: 1.1rem;
  font-weight: 300;
  padding: 0.6rem 0;
}

.courseList {
  display: flex;
  flex-direction: column;
  color: $text-color-secondary;
  width: 50%;
  gap: $spacing-sm;
  height: 24rem;
}

.name {
  font-size: 4rem;
  font-weight: 300;
  color: $text-color;
  padding: 2rem 0;
  text-transform: capitalize;
}
