@use '../../../app/styles/base/variables.scss' as *;

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: $spacing-lg $spacing-lg;
  background: $background-color;
  width: 100%;
  @media (min-width: map-get($breakpoints, 'hd')) {
    display: none;
  }
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background: #000;
  color: #fff;
  padding: 2rem 0;
  width: 100%;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #000;
  margin-top: 4rem;
}

.tabWrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  align-items: flex-start;
  transition: all 0.3s ease;
  height: 100%;

  &:hover .answer {
    opacity: 1;
    transform: translateY(0);
  }
}

.tabButton {
  font-family: $font-stack;
  font-size: $font-size-sm !important;
  background: none;
  border: none;
  text-align: start;
  color: $text-color;
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  transition: all 0.3s ease;
  padding: 0;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: -9px;
    left: 0;
    width: 2rem;
    height: 3px;
    background-color: lighten($text-color-secondary, 30%);
    border-radius: 2px;
    transition:
      width 0.3s ease,
      background-color 0.3s ease;
  }

  &.active::before,
  &:hover::before {
    width: 90%;
    background-color: $primary-color;
  }

  &:hover {
    color: lighten($text-color, 10%);
  }
}

.answer {
  color: $text-color-secondary;
  font-size: $font-size-sm;
  padding: 1rem 0;
  width: 100%;
  transform: translateY(-10px);
  transition: all 0.9s ease;
}
