@use '../../../app/styles/base/variables.scss' as *;

.container {
  background-color: $background-color;
  padding: $spacing-lg;
  width: 28rem;
  margin: 0 auto;
  padding: 14vh 0;

  @media (min-width: map-get($breakpoints, 'tablet')) {
    width: 80rem;
    padding: 2vh 0;
  }
}
