@use '../base/variables' as *;


.container {
  min-height: 100vh;
  background: linear-gradient(to right, #0d0d0d, #1a1a1a);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Segoe UI', 'Roboto', 'Arial', sans-serif;
}

.code {
  font-size: 10rem;
  color: $primary-color; 
  font-weight: bold;
  margin: 0;
  font-family: 'Orbitron', monospace; 
}

.message {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #ccc;
}