@use '../../../app/styles/base/variables.scss' as *;

.container {
  display: none;
  @media (min-width: map-get($breakpoints, 'hd')) {
    display: block;
    padding: 3rem 0;
    margin: 0 auto;
  }
}

.spriteImage {
  width: 100%;
  user-select: none;
  pointer-events: none;
  object-fit: contain; 
}
