@use './variables' as *;
@use '../base/mixins' as *;


@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Regular.woff2') format('woff2'),
       url('/fonts/Gotham/Gotham-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Bold.woff2') format('woff2'),
       url('/fonts/Gotham/Gotham-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


// variáveis CSS
:root {
  --primary-color: #ed145b;
  --background-color: #000000;
  --text-color: #ffffff;
  --font-stack: 'Gotham', sans-serif;
}

// Reset
* {
  @include reset-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  font-family: 'Gotham', sans-serif;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: var(--font-stack), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  color: inherit;
  text-decoration: none;
}
