@use './variables' as *;
@use '../base/mixins' as *;

// Definindo variáveis CSS
:root {
  --primary-color: #ed145b;
  --background-color: #000000;
  --text-color: #ffffff;
  --font-stack: 'Montserrat', sans-serif;
}

// Reset básico e tipografia
* {
  @include reset-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: var(--font-stack), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
