// Cores principais
$primary-color:#ED145B; 
$secondary-color: #949B99; 
$background-color: #000000;
$background-color-secondary: #202121; 
$text-color: #FFFFFF;

// Escalas de cinza
$gray-100: #F3F4F6;
$gray-200: #E5E7EB;
$gray-300: #D1D5DB;

// Tipografia
$font-stack: 'Montserrat', sans-serif;
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: 0.875rem;

// Espaçamento
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

// Tamanhos de telas
$breakpoints: (
  "4k": 3840px,
  "qhd": 2560px,
  "fhd": 1920px,
  "hd-plus": 1600px,
  "hd": 1280px,
  "tablet-large": 1024px,
  "tablet": 820px,
  "mobile-large": 414px,
  "mobile": 360px,
  "mobile-small": 320px,
);